In [15]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [16]:
#Calculate the total number of schools
school_num = len(school_data)

#Calculate the total number of students
student_num=len(student_data)

#Calculate the total budget
tot_budget = school_data['budget'].sum()

#Calculate the average math score
math_av = school_data_complete['math_score'].sum()/student_num

#Calculate the average reading score
reading_av = school_data_complete['reading_score'].sum()/student_num

#Calculate the percentage of students with a passing math score (70 or greater)
school_data_complete.loc[school_data_complete['math_score']>=70, 'math_pass'] = True
percent_math_pass = school_data_complete.groupby('math_pass')['math_pass'].count()/student_num * 100

#Calculate the percentage of students with a passing reading score (70 or greater)
school_data_complete.loc[school_data_complete['reading_score']>=70, 'reading_pass'] = True
percent_reading_pass = school_data_complete.groupby('reading_pass')['reading_pass'].count()/student_num * 100

#Calculate the percentage of students who passed math and reading (% Overall Passing)
school_data_complete.loc[school_data_complete['reading_pass'] & school_data_complete['math_pass'], 'overall_pass'] = True
percent_passing = school_data_complete.groupby('overall_pass')['overall_pass'].count()/student_num*100

In [17]:
#Create a dataframe to hold the above results
district_df = pd.DataFrame({'Total Schools': school_num, 
                            'Total Students': student_num,
                            'Total Budget': tot_budget,
                            'Average Math Score': math_av,
                            'Average Reading Score': reading_av,
                            '% Passing Math': percent_math_pass,
                            '% Passing Reading': percent_reading_pass,
                            '% Overall Passing': percent_passing})

#Optional: give the displayed data cleaner formatting
district_df['Total Students'] = district_df['Total Students'].map("{:,}".format)
district_df['Total Budget'] = district_df['Total Budget'].map("${:,.2f}".format)
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
True,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [26]:
#Create an overview table that summarizes key metrics about each school, including:
#School Name,School Type,Total Students,Total School Budget
overview_df = pd.DataFrame({"School Name": school_data["school_name"],
                            "School Type": school_data["type"],
                            "Total Students": school_data["size"],
                            "Total School Budget": school_data["budget"]
                           })
overview_df = overview_df.sort_values(by = "School Name")
overview_df = overview_df.set_index('School Name')

#Per Student Budget
overview_df["Per Student Budget"] = overview_df["Total School Budget"]/overview_df["Total Students"]

#Average Math Score
school_grouped_mean_df = school_data_complete.groupby(["school_name"]).mean()
overview_df["Average Math Score"] = school_grouped_mean_df["math_score"]

#Average Reading Score
overview_df["Average Reading Score"] = school_grouped_mean_df["reading_score"]

#% Passing Math
school_grouped_count_df = school_data_complete.groupby(["school_name"]).count()
overview_df["% Passing Math"] = school_grouped_count_df["math_pass"]/school_grouped_count_df["math_score"]*100

#% Passing Reading
overview_df["% Passing Reading"] = school_grouped_count_df["reading_pass"]/school_grouped_count_df["reading_score"]*100

#% Overall Passing (The percentage of students that passed math and reading.)
overview_df["% Overall Passing"] = school_grouped_count_df["overall_pass"]/school_grouped_count_df["reading_score"]*100

#make it pretty
overview_df['Total Students'] = overview_df['Total Students'].map("{:,}".format)
overview_df['Total School Budget'] = overview_df['Total School Budget'].map("${:,.2f}".format)
overview_df['Per Student Budget'] = overview_df['Per Student Budget'].map("${:,.2f}".format)
overview_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [29]:
top_schools = overview_df.sort_values(by='% Overall Passing', ascending = False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [30]:
bottom_schools = overview_df.sort_values(by='% Overall Passing')
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type